{% extends "app/layout.html" %}

{% block content %}
<h2>{{ title }}.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Используйте локальную учетную запись для входа.</h4>
                <hr />
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Имя пользователя</label>
                    <div class="col-md-10">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-10">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    <a href="{% url 'registration' %}">Зарегистрироваться как новый пользователь?</a>
                </p>
            </form>
        </section>
    </div>
</div>
{% endblock %}
